@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

:root{
    --cor01: #41D2F2;
    --cor02: #0367A6;
    --cor03: #024873;
    --cor04: #012840;
    --cor05: #0D0D0D;
    --cor06: white;

}

body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: var(--cor01);
}

header {
    background-color: var(--cor04);
    text-align: center;
    color: var(--cor06);
    width: 100%;
    height: 100px;
    padding-top: 25px;
    /*box-shadow: 0px 1px 2px black;*/
    
}

section{
    background-color: var(--cor06);
    text-indent: 30px;
    text-align: justify;
    padding: 10px;
    margin: 20px 20px;
    max-width: 800px;
    border: 1px solid black;
    box-shadow: 0px 2px 5px black;
    border-radius: 10px;
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: var(--cor04);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec{
    margin-right: 30px;
}

footer .container .sec.aboutus{
    width: 40%;
}

footer .container h2{
    position: relative;
    color: var(--cor06);
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: var(--cor06);
}


footer p{
   color: var(--cor06);
}

.sci{
    margin-top: 20px;
    display: flex;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: var(--cor05);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover{
    background: var(--cor02);
}

.sci li .fa{
    color: var(--cor06);
    font-size: 20px;
}

.quickLinks{
    position: relative;
    width: 25%;
}

.quickLinks ul li{
    list-style: none;
}

.quickLinks ul li a{
    color: var(--cor06);
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover{
    color: var(--cor02);
}

.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important; /*NINJA*/
}

.contact .info{
    position: relative;
}

.contact .info li{
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1){
    color: var(--cor06);
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span{
    color: var(--cor06);
}

.contact .info li a{
    color: var(--cor06);
    text-decoration: none;
}

.contact .info li a:hover{
   color: var(--cor02);
}

.copyright{
    width: 100%;
    background-color: var(--cor05);
    padding: 8px 100px;
    text-align: center;
    color: var(--cor06);
}

@media (max-width:901px){ /*condidional resolução*/
    footer{
        padding: 40px;
    }    
    footer .container{
        flex-direction: column;
    }
    footer .container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.aboutus, .quickLinks, .contact{
        width: 100%;
    }
    .copyright{
        padding: 8px 40px;
    }
}