@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --cor01: #41D2F2;
    --cor02: #0367A6;
    --cor03: #024873;
    --cor04: #012840;
    --cor05: #0D0D0D;
    --cor06: white;
}

body{
    background-color: var(--cor01);
}

header {
    background-color: var(--cor04);
    text-align: center;
    color: var(--cor06);
    width: 100%;
    height: 100px;
    padding-top: 20px;
}

header h1{
    font-size: 3em;
}

.screen {
    /*padding: 10px; /*para dar margem no celular*/
    margin: -1px 10px;
    margin-bottom: 50px;
}

.intro{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;
}

.container-cover {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
  
.container-cover img {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: -1px 1px 8px var(--cor05);
}

.container-cover .text {
    flex: 1;
}

.container-cover .message{
    text-align: center;
}

figure {
  margin-top: 15px;
  text-align: center;
}

figcaption {
  font-style: italic;
  color: var(--cor01);
  font-size: smaller;
}

.map{
    justify-content: center;
    border: 1px solid var(--cor05);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top:15px;
    /*margin: 5px; tirado por não centralizava*/
}

th, td {
   padding: 1px;
/*    text-align: left;*/
}
  
th {
    background-color: var(--cor04);
    color: var(--cor06);
    text-align: center;
    border-top-left-radius: 50px;border-bottom-right-radius: 50px;
}

td:hover{
    text-indent: 0.4%;
    transition: 0.2s;
}

section{
    background-color: var(--cor06);  
    padding: 20px;
    margin: auto;
    max-width: 800px;
    border: 1px solid var(--cor05);
    box-shadow: 0px 2px 5px var(--cor05);
    border-radius: 0 0 5px 5px;
}

section .content{
    text-indent: 30px;
    text-align: justify;
}

/*Aqui é o que funciona*/
/*
.container-jobs{
    flex-wrap: wrap;
    display: flex;
    margin-top: 30px;
}

.left{
    flex: 1;
    margin-left: 5px;
    margin-right: 20px;
}

.right{
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: end;
}

.left img{
   width: 400px;
}

.right img{
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    margin-right: 10px;
}
/*parte que funciona*/


.container-jobs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
  
.left {
    flex: 1;
    margin-left: 5px;
    margin-right: 20px;
    position: relative;
}
  
.right {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
  
.left img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
  
.right img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
}

/*---------------------------------*/

aside{
    margin-top: 15px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Proporção de 16:9 (divida a altura pelo largura e multiplique por 100) */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.video p{
    text-align: center;
    color: var(--cor06);
    background-color: var(--cor03);
}

  @media screen and (max-width: 670px) {
    header {
      height: 80px;
      padding-top: 10px;
      font-size: 0.7em;
    }

    .container-jobs{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .left, .right {
        flex: auto;
    }

    .left {
        flex: 1;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left img {
        max-width: 100%;
        height: auto;
        margin: 10px;
    }

    .right {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right img {
        max-width: 100%;
        height: auto;
        margin: 5px;
    }

    .container-cover{
        display: flex;
        flex-direction: column;
    }

    .container-cover .content{
        margin-top: 15px;
    }

    .container-cover img{
        width: 175px;
        margin: auto;
    }
  }



/*usar para separar os conteúdos*/
.separator {
    background: linear-gradient(to right, var(--cor01), var(--cor04), var(--cor01));height: 10px;
    position: relative;
    border-radius:5px;
    margin-top: 35px;
    margin-bottom: 15px;
}
  
