*:root{
    --cor01: #41D2F2;
    --cor02: #0367A6;
    --cor03: #024873;
    --cor04: #012840;
    --cor05: #0D0D0D;

    font-family: Arial, Helvetica, sans-serif;

}

body{
    margin: 0px;
    padding: 0px;
    background-color: var(--cor05);
    color: var(--cor01);
}

footer{
    background-color: var(--cor01);
    text-align: center;
    padding: 10px;;
    margin: auto;
}

.creditos{
    color: var(--cor04);
    font-weight: bold;

}
.end-page{
    height: 100%;
}

.icons{
    padding: 5px;
    margin: auto;
    position: relative;
}
