@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --cor01: #41D2F2;
    --cor02: #0367A6;
    --cor03: #024873;
    --cor04: #012840;
    --cor05: #0D0D0D;
    --cor06: white;
    --cor07: #0d0d0db9;
}

/* Global Styles */
body {
    background-color: var(--cor01);
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

p {
    margin: 0;
}

/* Screen CRIAVA UMA PEQUENA MARGEM NAS TELAS MENORES 
.screen {
    margin: -1px 10px;
    margin-bottom: 50px;
}*/

.intro {
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

/* Container Cover */
.container-cover {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.container-cover img {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: -1px 1px 8px var(--cor05);
}

.container-cover .text {
    flex: 1;
}

.container-cover a{
    color: var(--cor05);
}
.container-cover a:hover{
    text-decoration: none;
    color: var(--cor02);
 }

.container-cover .message {
    text-align: center;
}

/* Figure */
figure {
    margin-top: 15px;
    text-align: center;
}

figcaption {
    font-style: italic;
    color: var(--cor01);
    font-size: smaller;
}

/* Map */
.map {
    justify-content: center;
    border: 1px solid var(--cor05);
}

/*Serviços - CardGroup*/
.card img{
    padding: 11px;
}

.card-group .card .card-body .card-title{
    text-align: center;
}

.card-group .card .card-body .card-text{
    text-align: center;
}

.card img:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease;
}

.card img:not(:hover){
    transform: scale(1);
    transition: transform 0.4s ease;
}

/* Table */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
}

th, td {
    padding: 2px;
}

th {
    background-color: var(--cor04);
    color: var(--cor06);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left: 15px;
}

td:hover {
    text-indent: 0.4%;
    transition: 0.2s;
}

/* Section */
section {
    background-color: var(--cor06);
    padding: 20px;
    margin: auto;
    max-width: 800px;
    border: 1px solid var(--cor05);
    box-shadow: 0px 2px 5px var(--cor05);
    border-radius: 0 0 5px 5px;
}

section .content {
    text-indent: 30px;
    text-align: justify;
    margin-bottom: 15px;
}

/*Bootstrap Image*/
#carouselExample img{
    border-radius: 5px;
    border: 2px solid var(--cor05);
    margin-bottom: 15px;
}

/* Custom Caption */
.custom-caption {/*
    background-color:var(--cor07);
    padding: 5px;
    width: 50%;
    height: 15%;
    margin: auto;*/
    background-color:var(--cor07);
    border-radius: 50px;

}

.caption-title {
    color: var(--cor06);
    font-size: 10px;
    font-weight: bold;
}

.caption-description {
    color: var(--cor06);
    font-size: 14px;
}

/* Video Container */
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.video p {
    text-align: center;
    color: var(--cor06);
    background-color: var(--cor03);
    margin-top: 0;
}

.personalSites a::before{
    content: "\2192";
    margin-left: 10px;
    margin-right: 10px;
}

.personalSites a{
    color: var(--cor05);
}
.personalSites a:hover{
    text-decoration: none;
    color: var(--cor03);
}

@media screen and (max-width: 670px) {
      .intro{
        margin-top: 80px;
    }

    .container-jobs{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .left, .right {
        flex: auto;
    }

    .left {
        flex: 1;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left img {
        max-width: 100%;
        height: auto;
        margin: 10px;
    }

    .right {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right img {
        max-width: 100%;
        height: auto;
        margin: 5px;
    }

    .container-cover{
        display: flex;
        flex-direction: column;
    }

    .container-cover .content{
        margin-top: 15px;
    }

    .container-cover img{
        width: 175px;
        margin: auto;
    }
  }



/*usar para separar os conteúdos*/
.separator {
    background: linear-gradient(to right, var(--cor01), var(--cor04), var(--cor01));height: 10px;
    position: relative;
    border-radius:5px;
    margin-top: 35px;
    margin-bottom: 35px;
}